* {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

#logo {
  width: 100px;
}

nav ul {
  display: flex;
}

nav li {
  list-style-type: none;
  margin-right: 28px;
}

#best-movie {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: black;
}

#best-movie-text {
  text-align: right;
  padding: 80px 0;
  width: 40%;
}

#best-movie-text h1 {
  color: white;
  font-size: 28px;
}

button {
  background-color: white;
  border: none;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  padding: 8px 12px;
  margin-top: 16px;
  border-radius: 4px;
}

.movies {
  display: flex;
  overflow: scroll;
}

#best-movie-image {
  width: 60%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}

section img {
  height: 270px;
}

#best-movie-image img {
  margin: 16px;
  border: 2px solid white;
}

.categories {
  padding: 28px;
  border-bottom: 8px solid black;
}

.categories img {
  margin: 24px;
}

#modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  width: 50%;
  padding: 32px;
  border-radius: 12px;
  background-color: rgb(34, 34, 34);
  color: white;
}

#modal p {
  margin-top: 10px;
}

#header {
  display: flex;
  margin-bottom: 32px;
}

#movie-main-infos {
  margin: 32px 40px;
}

#close-button {
  width: 16px;
  position: absolute;
  right: 32px;
  top: -100px;
}
