* {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

span {
  font-weight: bold;
}

#logo {
  width: 100px;
}

nav ul {
  display: flex;
}

nav li {
  list-style-type: none;
  margin-right: 28px;
}

a {
  text-decoration: none;
  color: black;
}

#best-movie {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: black;
}

#best-movie-text {
  text-align: right;
  padding: 80px 0;
  width: 40%;
}

#best-movie-text h1 {
  color: white;
  font-size: 28px;
}

#infos-btn {
  background-color: white;
  border: none;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  padding: 8px 12px;
  margin-top: 16px;
  border-radius: 4px;
  cursor: pointer;
}

#container-1,
#container-2,
#container-3,
#container-4 {
  display: flex;
  overflow-x: hidden;
  margin: 0 20px;
}

#best-movie-image {
  width: 60%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}

#movies-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carousel-btn {
  height: 40px;
  width: 40px;
  background-color: white;
  border: none;
  cursor: pointer;
}

.arrow {
  height: 20px;
}

#right-arrow {
  transform: scaleX(-1);
}

section .movie-img {
  height: 270px;
}

#best-movie-image img {
  margin: 16px;
  border: 2px solid white;
}

.categories {
  margin: 0 10%;
  padding: 28px;
  border-bottom: 8px solid black;
}

.categories .movie-img {
  margin: 24px;
  cursor: pointer;
}

.open-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 400px;
  height: auto;
  width: 50%;
  overflow-y: scroll;
  padding: 32px;
  border-radius: 12px;
  background-color: rgb(34, 34, 34);
  color: white;
  box-shadow: 0 0 10px black;
}

.open-modal p {
  margin-top: 10px;
}

#modal-img {
  height: 270px;
  border-radius: 4px;
}

#close-button {
  width: 16px;
  position: absolute;
  right: 32px;
  cursor: pointer;
}

@media (max-width: 810px) {
  #header {
    display: flex;
    flex-direction: column;
  }

  #modal-img {
    width: 180px;
    height: auto;
    align-self: center;
    margin-bottom: 20px;
  }
}

@media (min-width: 810px) {
  #header {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
  }

  #movie-main-infos {
    margin-left: 40px;
  }
}
